@import "../../global.scss";

.sideNav {
  display: flex;
  flex-direction: column;
  background-color: #280f52;
  height: 100vh;
  width: 70px;
  justify-content: space-between;
  align-items: center;
}

.navItem {
  color: $africanviolet;
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.navItem:nth-child(2) {
  font-size: 2.1rem;
  left: 0.2rem;
}

.navItem:nth-child(3) {
  left: -0.1rem;
}

#profile-pic {
  width: 70%;
  margin: 2rem 0.7rem;
}
