@import "../../global.scss";

.dailyGoalTracker {
  background-color: white;
  height: 49%;
  width: 400px;
  padding: 10px;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  justify-content: space-between;

  h2 {
    font-size: 2rem;
    color: $africanviolet;
    font-weight: bold;
    justify-content: left;
    position: relative;
    top: 0.8rem;
    left: -5.5rem;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: relative;
    left: -0.1rem;
  }

  .goal {
    margin-bottom: 1.5rem;
    width: 345px;
    height: 2.5rem;
    border: 1px solid $lightgray;
    border-radius: 5px;
    padding: 0.4rem 0 0.5rem 0.8rem;
  }

  .completed-btn {
    position: relative;
    left: 9rem;
    font-size: 1rem;
    color: $turquise;
    border: none;
    background: none;
  }

  .remove-btn {
    position: relative;
    left: 9rem;
    font-size: 1rem;
    border: none;
    background: none;
    color: $africanviolet;
  }
}
