@import "../../global.scss";

.dailyGoalTracker {
  background-color: white;
  height: 49%;
  width: 400px;
  padding: 10px;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  justify-content: space-between;

  h2 {
    font-size: 2rem;
    color: $africanviolet;
    font-weight: bold;
    justify-content: left;
    position: relative;
    top: 0.1rem;
    left: -5.5rem;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: relative;
    left: -0.1rem;
    top: 1rem;
  }

  label {
    position: relative;
    top: -0.3rem;
  }

  .goal {
    margin-bottom: 1.5rem;
    width: 345px;
    height: 3rem;
    border: 1px solid $lightgray;
    border-radius: 5px;
  }

  input[type="checkbox"] {
    width: 1.3rem;
    height: 1.3rem;
    margin: 0.8rem;
  }

  input:checked {
    background-color: $africanviolet !important;
  }

  // .completed-btn {
  //   position: relative;
  //   left: 9rem;
  //   font-size: 1rem;
  //   color: $turquise;
  //   border: none;
  //   background: none;
  // }

  .remove-btn {
    font-size: 1.3rem;
    border: none;
    background: none;
    color: $africanviolet;
    position: relative;
    top: -2px;
  }

  #first {
    left: 9rem;
  }

  #second {
    left: 6.1rem;
  }

  #third {
    left: 3.2rem;
  }

  #fourth {
    left: 2rem;
  }
}
